<robot name="mid360"
    xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- LIVOX_MID360 -->
    <xacro:macro name="robot_mid360">

        <xacro:include filename="$(find ros2_livox_simulation)/urdf/mid360.xacro" />
        <xacro:mid360 name="livox_frame" parent="support_5" topic="livox/lidar">
            <origin xyz="0.0 0.0 -0.03" rpy="3.1415926 0 0"/>
        </xacro:mid360>

    </xacro:macro>

</robot>